<div class="container">
   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
       <div class="col">
           <div class="card h-60">
               <img src="img/motion-graphic.png" class="card-img-top" alt="Web Design">
               <div class="card-body">
                   <h5 class="card-title">Motion Graphic</h5>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card h-60">
               <img src="img/prototypes.png" class="card-img-top" alt="Mobile Apps">
               <div class="card-body">
                   <h5 class="card-title">Mobile Apps</h5>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card h-60">
               <img src="img/graphic-design.png" class="card-img-top" alt="Graphic Design">
               <div class="card-body">
                   <h5 class="card-title">Graphic Design</h5>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card h-60">
               <img src="img/ui.png" class="card-img-top" alt="ui prototype">
               <div class="card-body">
                   <h5 class="card-title">UI/UX Design</h5>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card h-60">
               <img src="img/illustration.jpg" class="card-img-top" alt="illustration">
               <div class="card-body">
                   <h5 class="card-title">Illustrations</h5>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card h-60">
               <img src="img/animation.png" class="card-img-top" alt="3D animation">
               <div class="card-body">
                   <h5 class="card-title">3D Animation</h5>
               </div>
           </div>
       </div>
   </div>
</div>